In [1]:
import keyring, pickle, string
import pandas as pd
from sqlalchemy import create_engine
from functions.word2vec import createRIASEC, riasecSplit

from functions.queries import qry_riasec, qry_task, qry_toolsTechnology, qry_knowledge, qry_skills, qry_abilities, \
qry_workActivities, qry_workContext, qry_jobzone, qry_workStyles, qry_workValues, qry_titles

# Database login and connection information

In [2]:
# Grab login and password 
user = keyring.get_password("onet", "user")
pw = keyring.get_password("onet", user)

Please enter password for encrypted keyring: ········

In [3]:
# DB connection string 
db_uri = 'mysql+pymysql://{user}:{pw}@localhost:3306/onet'.format(user = user, pw = pw)
engine = create_engine(db_uri)

# Queries 

All data for this project is stored in a mysql database.  I have written various queries to extract the data which can be seen in the Queries.py python file.

In [4]:
# Unique queries for RIASEC codes and job titles 
riasec = pd.read_sql(qry_riasec, engine)
jobTitles = pd.read_sql(qry_titles, engine)

# Queries to pull the individual sections for each job in O*NET 
tasksDF = pd.read_sql(qry_task, engine)
technologySkillsDF = pd.read_sql(qry_toolsTechnology, engine)
knowledgeDF = pd.read_sql(qry_knowledge, engine)
skillsDF = pd.read_sql(qry_skills, engine)
abilitiesDF = pd.read_sql(qry_abilities, engine)
workContextDF = pd.read_sql(qry_workContext, engine)
jobZoneDF = pd.read_sql(qry_jobzone, engine)
workStylesDF = pd.read_sql(qry_workStyles, engine)
workValuesDF = pd.read_sql(qry_workValues, engine)

/home/craig/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

# Create RIASEC groups
Interests are defined as important if they have ratings of three or greater.  This information is stored in the "long" fashion in O*NET meaning one than one row per case.  In this study, we wish to use a "flattened" format where one row represents one job.  To do this we must pivot the data so that we have a column for the First, Second, and Third interest.  We then construct a RIASEC code where we take the first letter of the First, Second, and Third interest and concatenate them together.  Since there is a threshold for inclusion of the high points the RIASEC codes can range from 1 to 3 letters in length. Once the data is pivoted, the RIASEC code is created, we merge in job titles for each of the SOC codes.

In [5]:
df = riasec.pivot(index = 'onetsoc_code', columns = 'element_name', values = 'RIASEC')
df.reset_index(inplace = True)
df['riasec'] = df.apply(lambda x: createRIASEC(x), axis = 1)
df = df.merge(jobTitles, left_on = 'onetsoc_code', right_on = 'onetsoc_code', how = 'left')
df.head()

,onetsoc_code,First Interest High-Point,Second Interest High-Point,Third Interest High-Point,riasec,title
0,11-1011.00,Enterprising,Conventional,None,EC,Chief Executives
1,11-1011.03,Enterprising,Conventional,Investigative,ECI,Chief Sustainability Officers
2,11-1021.00,Enterprising,Conventional,Social,ECS,General and Operations Managers
3,11-1031.00,Enterprising,Social,None,ES,Legislators
4,11-2011.00,Enterprising,Artistic,Conventional,EAC,Advertising and Promotions Managers

# Pull together the text data 

O*NET Provide textual information for each of the jobs.  These include descriptions of tasks, technology skills, knowledge, skills, abilities, work context, job zones, work styles, and work values.  We previously queried all of this data.  We will now concatenate the data together so it's all in a single frame.

In [6]:
# Job Description Materials
text_data = pd.concat([tasksDF, technologySkillsDF, knowledgeDF, skillsDF, abilitiesDF, workContextDF, 
                       jobZoneDF, workStylesDF, workValuesDF
                     ])

Now that the data is all in a single dataframe, we concatenate all of the data for each job together and create a new dataframe.  By doing this we have "flattened" the data so that one row contains all the of the data for a job.

In [7]:
# Create Docs 
onetsoc_codes = list(df['onetsoc_code'].unique())

docs=[]
for soc in onetsoc_codes: 
    text = ' '.join(text_data[text_data['onetsoc_code'] == soc]['description'].tolist())
    out = text.translate(text.maketrans("","", string.punctuation))

    tmp = {'onetsoc_code': soc, 
           'text': out
          }
    docs.append(tmp)

# Create a new dataframe that has the aggergated text
textDF = pd.DataFrame(docs)
textDF.head()

  onetsoc_code                                               text
0   11-1011.00  Direct or coordinate an organizations financia...
1   11-1011.03  Identify educational training or other develop...
2   11-1021.00  Direct and coordinate activities of businesses...
3   11-1031.00  Analyze and understand the local and national ...
4   11-2011.00  Prepare budgets and submit estimates for progr...

# Merge together the RIASEC code data and the textual data together into a single dataframe

In [8]:
df = df.merge(textDF, left_on = 'onetsoc_code', right_on = 'onetsoc_code', how = 'left')
df.head()

,onetsoc_code,First Interest High-Point,Second Interest High-Point,Third Interest High-Point,riasec,title,text
0,11-1011.00,Enterprising,Conventional,None,EC,Chief Executives,Direct or coordinate an organizations financia...
1,11-1011.03,Enterprising,Conventional,Investigative,ECI,Chief Sustainability Officers,Identify educational training or other develop...
2,11-1021.00,Enterprising,Conventional,Social,ECS,General and Operations Managers,Direct and coordinate activities of businesses...
3,11-1031.00,Enterprising,Social,None,ES,Legislators,Analyze and understand the local and national ...
4,11-2011.00,Enterprising,Artistic,Conventional,EAC,Advertising and Promotions Managers,Prepare budgets and submit estimates for progr...

# Save the merged dataframe together for use in analyses

In [10]:
df.to_pickle("onetdata.p")